*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    background-color: rgb(22, 206, 22);
    width: fit-content;
    margin: 10px auto;
}
nav a{
    text-decoration: none;
    display: block;
    background-color: rgb(22, 206, 22);
    color: white;
    padding: 10px 10px;
}
nav a:first-child{
    background-color: rgb(15, 114, 15);
}
nav a:hover{
    background-color: rgb(15, 114, 15);
}